
<form method="post">
    {{#with category}}
    <div class="form-group">
        <label for="inputId">Id</label>
        <input type="text" class="form-control" name="txtId" id="inputId" value="{{_id}}" placeholder="0" readonly>
    </div>
    <div class="form-group">
        <label for="inputNombre">Nombre</label>
        <input type="text" class="form-control" name="txtNombre" id="inputNombre" value="{{nombre}}">
    </div>
    <div class="form-check">
      <label class="form-check-label">
        {{#if estado}}  
        <input type="checkbox" class="form-check-input" name="txtEstado" id="estado" checked>
        {{else}}
        <input type="checkbox" class="form-check-input" name="txtEstado" id="estado">
        {{/if}}
        Disponible
      </label>
    </div>
    {{/with}}
    <div class="form-group">
        <label for="selectUser">Usuarios</label>
        <select class="form-control" id="selectUser" name="txtUser">
            {{#if user}}
            {{#each user}}
                <option value={{_id}}>{{nombre}}</option>
            {{/each}}
            {{else}}
                <option>No hay Usuarios</option>
            {{/if}}
        </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>
